/* .container{
    background-image: url(images/frontpage.jpg);
    background-size: cover;
    background: no-repeat;

} */
 /* body{
    background-image: url(./images/frontpage3.jpg);
 } */
  .div{
    background-image: url(./images/frontpage3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .signUp{
    border: 2px solid black;
  }